AI.VISION.APIKEY = <<your vision apikey>>
AI.VISION.ENDPOINT = <<your vision endpoint>>
AI.STORAGE.CONNECTIONSTRING = <<your storage connection string>>
AI.SEARCH.APIKEY = <<your search key>>
AI.SEARCH.ENDPOINT = <<your search endpoint>>